<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1><strong>Strona logowania</h1></center>
<h2 style="color: red;" th:text="${info}"></h2>
<div style="background-color: powderblue">
<form th:action="@{/login}" method="post" th:object="${loginForm}">
    <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
    Login:<input type="text" th:field="*{login}"><p></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    Password:<input type="password" th:field="*{password}"><p></p>
    <input type="submit" value="Wyślij">
</form>
</div>
</body>
</html>