<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1>Logłeś sie zajebiście</h1>-->
<div th:if="${infoCredit} != null" th:style="'background-color: ' + ${infoCredit}? 'green' : 'red'">

    <h1 th:text="${infoCredit} ? 'Dostałeś kredyt' : 'Nie ma kredytu'"></h1>
</div>

<form th:if="${infoCredit} == null" th:action="@{/main}" th:object="${requestForm}" method="post">
    Dochód miesięczny : <input th:field="*{monthCash}" type="number"><br>
    Zobowiązania miesięczne : <input th:field="*{minusCash}" type="number"><br>
    Okres kredytowania : <input th:field="*{creditTime}" type="number"><br>
    Kwota kredytu : <input th:field="*{creditCash}" type="number"><br>

    <input type="submit" value="Wyślij">

</form>

</body>
</html>